// COLORS

$color-primary: #ED1B24;
$color-bg-footer: #222222;
$color-gray: #9B9B9B;
$color-white: #FFFFFF;
$color-black: #000000;

// BREAKPOINTS

$mobile-small: 37.5rem;      // 375px;
$mobile-large: 41rem;      // 410px;
$tablet-small: 57.6rem;      // 576px;
$tablet-medium: 76.8rem;      // 768px;
$tablet-large: 102.4rem;      // 1024px;
$desktop-small: 128rem;      // 1280px;
$desktop-medium: 144rem;      // 1440px;
$desktop-large: 192rem;      // 1920px;

// FONT SIZES

$font-xx-large: 10rem;
$font-x-large: 6.2rem;
$font-large: 2.8rem;
$font-medium: 2rem;
$font-small: 1.8rem;
$font-x-small: 1.4rem;
$font-xx-small: 1.3rem;

// LINE HEIGHT

$lineHeight-xx-large: 13.5rem;
$lineHeight-x-large: 7.8rem;
$lineHeight-large: 4.1rem;
$lineHeight-medium: 2.5rem;
$lineHeight-small: 2.6rem;
$lineHeight-x-small: 1.4;
$lineHeight-xx-small: 5rem;